{
	"env": {
		"browser": false,
		"node": true,
		"amd": true,
		"mocha": true
	},

	"plugins": [
		"eslint-plugin-consumerweb"
	],

	"rules": {

		// possible errors
		"no-cond-assign": 2,
		"no-console": 0,
		"no-constant-condition": 2,
		"no-comma-dangle": 2,
		"no-control-regex": 2,
		"no-debugger": 2,
		"no-dupe-keys": 2,
		"no-empty": 2,
		"no-empty-class": 2,
		"no-ex-assign": 2,
		"no-extra-boolean-cast": 2,
		"no-extra-parens": 0,
		"no-extra-semi": 2,
		"no-func-assign": 2,
		"no-inner-declarations": [2, "functions"],
		"no-invalid-regexp": 2,
		"no-negated-in-lhs": 2,
		"no-obj-calls": 2,
		"no-regex-spaces": 2,
		"no-reserved-keys": 2,
		"no-sparse-arrays": 2,
		"no-unreachable": 2,
		"use-isnan": 2,
		"valid-jsdoc": 0,
		"valid-typeof": 2,

		// best practices
		"block-scoped-var": 2,
		"complexity": [0, 10], // would love to turn this on someday
		"consistent-return": 2,
		"curly": [2, "all"],
		"default-case": 2,
		"dot-notation": 2,
		"eqeqeq": 2,
		"guard-for-in": 0,
		"no-alert": 2,
		"no-caller": 2,
		"no-div-regex": 2,
		"no-else-return": 2,
		"no-empty-label": 2,
		"no-eq-null": 2,
		"no-eval": 2,
		"no-extend-native": 2,
		"no-extra-bind": 2,
		"no-throw-literal": 2,
		"no-fallthrough": 2,
		"no-floating-decimal": 2,
		"no-implied-eval": 2,
		"no-labels": 2,
		"no-iterator": 2,
		"no-lone-blocks": 2,
		"no-loop-func": 2,
		"no-multi-spaces": 2,
		"no-multi-str": 2,
		"no-native-reassign": 2,
		"no-new": 2,
		"no-new-func": 2,
		"no-new-wrappers": 2,
		"no-octal": 2,
		"no-octal-escape": 2,
		"no-proto": 2,
		"no-redeclare": 2,
		"no-return-assign": 2,
		"no-script-url": 2,
		"no-self-compare": 2,
		"no-sequences": 2,
		"no-unused-expressions": 2,
		"no-void": 2,
		"no-warning-comments": 0,
		"no-with": 2,
		"radix": 2,
		"vars-on-top": 0,
		"wrap-iife": 2,
		"eol-last": 0,
		"yoda": 2,

		// strict
		"global-strict": [2, "always"],
		"no-extra-strict": 2,
		"strict": 2,

		// variables
		"no-catch-shadow": 2,
		"no-delete-var": 2,
		"no-label-var": 2,
		"no-shadow": 2,
		"no-shadow-restricted-names": 2,
		"no-undef": 2,
		"no-undefined": 2,
		"no-undef-init": 2,
		"no-unused-vars": [2, {"vars": "all", "args": "none"}],
		"no-use-before-define": 0,

		// node.js
		"handle-callback-err": 2,
		"no-mixed-requires": 2,
		"no-new-require": 2,
		"no-path-concat": 2,
		"no-process-exit": 2,
		"no-restricted-modules": 0,
		"no-sync": 2,

		// stylistic issues
		"brace-style": [2, "1tbs"],
		"camelcase": 0,
		"comma-spacing": [2, {"before": false, "after": true}],
		"comma-style": [1, "last"],
		"consistent-this": [2, "self"],
		"eol-last": 0,
		"func-names": 0,
		"func-style": [0, "declaration"],
		"key-spacing": 2,
		"max-nested-callbacks": [0, 2],
		"new-cap": 2,
		"new-parens": 2,
		"no-array-constructor": 2,
		"no-inline-comments": 0,
		"no-lonely-if": 2,
		"no-mixed-spaces-and-tabs": [2, true],
		"no-multiple-empty-lines": 2,
		"no-nested-ternary": 2,
		"no-new-object": 2,
		"no-spaced-func": 2,
		"no-space-before-semi": 2,
		"no-ternary": 0,
		"no-trailing-spaces": 0,
		"no-underscore-dangle": 0,
		"no-wrap-func": 2,
		"one-var": 0,
		"operator-assignment": 0,
		"padded-blocks": 0,
		"quotes": [2, "single"],
		"quote-props": 0,
		"semi": 2,
		"sort-vars": 0,
		"space-after-keywords": 2,
		"space-before-blocks": [2, "always"],
		"space-in-brackets": [0, "never"],
		"space-in-parens": 2,
		"space-infix-ops": 2,
		"space-return-throw-case": 2,
		"space-unary-ops": [2, { "words": true, "nonwords": false }],
		"spaced-line-comment": 2,
		"wrap-regex": 2,

		// legacy
		"max-depth": [0, 4],
		"max-len": [0, 80, 4],
		"max-params": [1, 5],
		"max-statements": [1, 30],
		"no-bitwise": 2,
		"no-plusplus": 0,
		"indent": [2, "spaces"],

		// custom things
		"consumerweb/no-req-model": 2, // don't lose important analytics info
		"consumerweb/param-names": [2, { "err": ["error", "e"], "callback": ["cb"] }],
		"consumerweb/model-defaults": 0, // not needed for server-side code
		"consumerweb/indent": 0 // not needed, because now it's built-in
	}
}
